<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="car" class="org.com.wink.ioc.Car">
        <property name="brand" value="wink"/>
        <property name="color" value="pink"/>
        <property name="maxSpeed" value="12"/>
    </bean>
</beans>